@import "../../../../common/styles/common.color";

.blog {
  padding-top: 70px;
  min-height: 90vh;
  background: $color-white;

  .container {
    width: 1200px;
    margin: 0 auto;
    opacity: 0;

    .no-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 600px;

      .icon-style {
        margin-top: 150px;
        color: #e7e7eb;
        font-size: 100px;
      }

      .word-style {
        font-size: 20px;
        color: $color-gray-500;
        margin-top: 20px;
      }
    }

    .area {
      width: 100%;
      display: flex;
      justify-content: center;

      .left-area {
        width: 680px;

        .blog-title {
          color: #404040;
          font-weight: 600;
          -webkit-font-smoothing: antialiased;
          line-height: 1.5;
          font-size: 28px;
          margin-top: 60px;
        }

        .blog-information {
          color: #888;
          font-size: 16px;
          margin-top: 10px;
          font-weight: 400;
          display: flex;
          align-items: center;

          .author-block {
            flex-grow: 1;
            display: flex;
            align-items: center;

            .image {
              flex-shrink: 0;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              overflow: hidden;
              cursor: pointer;

              .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }

            .author {
              margin: 0 5px;
              cursor: pointer;
            }

            .author:hover {
              color: $color-high-light;
            }

            .button {
              width: 60px;
              height: 25px;
              background: $color-high-light;
              color: #fff;
              text-align: center;
              line-height: 34px;
              font-size: 13px;
              font-weight: 400;
              display: flex;
              align-items: center;
              margin-left: 20px;
              border-radius: 5px;
              cursor: pointer;
              justify-content: center;
            }

            .button:active {
              transform: scale(.9);
            }
          }
        }

        .cover {
          margin: 30px 0 0 0;

          .image {
            vertical-align: top;
            max-width: 100%;
            border-radius: 8px;
          }
        }

        .w-e-toolbar {
          border: none !important;
          border-bottom: 1px solid #EEE !important;
        }

        .w-e-text-container {
          border: none !important;
        }

        .w-e-text {
          font-size: 17px !important;
          font-weight: 400;

          pre code {
            display: block;
            font-family: Consolas, Monaco, monospace;
            font-size: 10pt;
            color: #f8f8f2;
            background: #23241f;
            overflow: auto;
            padding: 1em;
          }
        }

        .blog-text {
          margin-top: 30px;
          min-height: 400px;
        }
      }

      .options {
        position: fixed;
        background-color: #fff;
        width: 38px;
        height: 38px;
        right: 30px;
        border-radius: 50%;
        color: $color-gray-600;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 18px;
        box-shadow: 0 0 6px rgb(0 0 0 / 12%);
        cursor: pointer;
        z-index: 5;

        .mark {
          position: absolute;
          font-size: 12px;
          top: 0;
          right: -12px;
          background: $color-red;
          color: #fff;
          height: 14px;
          line-height: 14px;
          width: 24px;
          overflow: hidden;
          border-radius: 7px;
          text-align: center;
        }
      }

      .options:active {
        transform: scale(0.9);
      }

      .like {
        bottom: 130px;
      }

      .star {
        bottom: 80px;
      }

      .star-hight-light {
        color: #409eff;;
      }

      .rocket {
        display: none;
        bottom: 30px;
        color: #409eff;
      }

      .rocket:active {
        transform: scale(0.9);
      }
    }
  }

  .comment {
    width: 1200px;
    margin: 100px auto;

    .comments {
      width: 680px;
      min-height: 100px;
      margin: auto;
      background: $color-white;

      .comment-title {
        font-size: 16px;
        color: #404040;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        position: relative;
        z-index: 1;
        margin-bottom: 1rem;
      }

      .no-content {
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: $color-gray-600;

        .icon-style {
          font-size: 25px;
        }

        .word-style {
          font-size: 15px;
          margin: 5px;
        }
      }

      .comment-content {
        .comment-block {
          list-style-position: inside;
          width: 100%;
          display: flex;
          flex-direction: row;
          margin-top: 26px;
          border-bottom: 1px solid hsla(0, 0%, 91.4%, .6);
        }

        .comment-part1 {
          cursor: pointer;

          .image {
            width: 34px;
            height: 34px;
            flex-shrink: 0;
            border-radius: 50%;
          }
        }

        .comment-part2 {
          margin-left: .5rem;
          flex-grow: 1;
          padding-bottom: 20px;

          .name {
            cursor: pointer;
            width: fit-content;
            font-size: 15px;
            color: #3d464d;
            font-weight: 500;
            -webkit-font-smoothing: antialiased;
            line-height: 34px;
          }

          .name:hover {
            color: $color-high-light
          }

          .content {
            margin-top: 12px;
            color: #505050;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            font-weight: 400;
            white-space: normal;
            word-break: break-all;
            line-height: 24px;
          }

          .comment-bottom-line {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 15px;
            display: flex;
            align-items: center;

            .comment-bottom-date {
              color: #b2b2b2;
              font-size: 14px;
            }

            .comment-options {
              display: flex;
              align-items: center;
              color: #888;

              .icon-style {
                color: $color-high-light;
                margin-right: 44px;
                font-size: 18px;
                cursor: pointer;
              }
            }
          }

        }
      }
    }

    .editor {
      width: 680px;
      display: flex;
      min-height: 180px;
      flex-direction: column;
      background: $color-white;
      margin: auto;

      .user-block {
        display: flex;
        align-items: center;
        margin: 10px 0;

        .image-block {
          display: flex;
          align-items: center;
          cursor: pointer;

          .image {
            height: 34px;
            width: 34px;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }

        .user-name {
          color: #3d464d;
          cursor: pointer;
          font-weight: 600;
          -webkit-font-smoothing: antialiased;
          font-size: 16px;
          line-height: 34px;
          padding-left: 10px;
        }

        .user-name:hover {
          color: $color-high-light;
        }
      }

      .w-e-text {
        font-size: 17px !important;
        font-weight: 400;
      }

      .text-style {
        height: 80px;

        .w-e-text-container {
          z-index: 10000;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, .1);
        }
      }

      .menu {
        display: flex;
        justify-content: space-between;
        margin: 10PX 0;

        .button {
          width: 100px;
          height: 34px;
          background: $color-high-light;
          color: #fff;
          text-align: center;
          line-height: 34px;
          font-size: 15px;
          font-weight: 400;
          margin-left: 20px;
          border-radius: 5px;
          cursor: pointer;
        }

        .button:active {
          transform: scale(0.9);
        }
      }
    }

    .page {
      font-size: 14px;
      text-align: center;
    }
  }

  .container.in {
    -webkit-transition: all 5.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 1;
  }

  @keyframes circles {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(0.5);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

}