@import "../../../../common/styles/common.color";

.profile {
  padding-top: 70px;
  min-height: 90vh;
  background: $color-white;

  .container {
    width: 1150px;
    margin: 0 auto;
    opacity: 0;

    .area {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .right-area {
        width: 800px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 32px 32px 26px;
        margin-top: 25px;
        box-shadow: 0 2px 10px 0 rgb(46 61 72 / 5%);

        .user-block {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .user-information {
            display: flex;
            align-items: center;

            .user-image {
              position: relative;
              width: 93px;
              height: 93px;

              .image {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }

              .image-shadow {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $color-gray-900;
                top: 0;
                cursor: pointer;
                z-index: 1;
                opacity: 0;
                border-radius: 50%;

                .image-camera {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  opacity: 0;

                  .inputfile {
                    display: none;
                  }
                }

                .image-camera:hover {
                  opacity: 1;
                  color: $color-white;
                }
              }

              .image-shadow:hover {
                opacity: 0.5;
              }

            }

            .user-image:after {
              content: "";
              position: absolute;
              top: -11px;
              left: -11px;
              width: 114px;
              height: 114px;
              border-radius: 50%;
              border: 1px solid $color-high-light;
            }

            .user-name {
              display: flex;
              flex-direction: column;
              margin-left: 32px;
              max-width: 222px;
              word-break: break-all;

              .name-block {
                display: flex;
                align-items: end;

                .name {
                  font-size: 24px;
                  font-weight: 500;
                  color: #404040;
                }

                .name-edit {
                  font-size: 20px;
                  color: $color-yellow;
                  cursor: pointer;
                  margin-left: 10px;
                }
              }

              .introduce-block {
                display: flex;
                align-items: center;

                .introduction {
                  color: #888;
                  font-size: 13px
                }

                .introduce-edit {
                  font-size: 20px;
                  color: $color-high-light;
                  cursor: pointer;
                }
              }
            }
          }

          .user-achievement {
            display: flex;
            align-items: center;

            .achievement-each {
              margin-left: 60px;
              text-align: center;

              .achievement-value {
                line-height: 40px;
                font-size: 24px;
                color: $color-high-light;
                font-weight: 500;
              }

              .achievement-name {
                font-size: 12px;
                font-weight: 500;
                color: #888;
              }
            }
          }
        }

        .user-care {
          width: 93px;
          display: flex;
          justify-content: center;
          margin-top: 30px;

          .user-care-style {
            cursor: pointer;
            outline: none;
            border: none;
            width: 68px;
            height: 30px;
            background: $color-high-light;
            text-align: center;
            line-height: 33px;
            color: #fff;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            justify-content: center;
            display: flex;
            border-radius: 5px;
          }

          .user-care-style:active {
            transform: scale(0.9);
          }
        }

        .options-block {
          margin-top: 10px;
          display: flex;
          position: relative;


          .option-each {
            display: block;
            height: 40px;
            margin-right: 48px;
            font-size: 15px;
            color: #888;
            font-weight: 400;
            line-height: 40px;
            cursor: pointer;
          }

          .option-each-select {
            color: $color-high-light;
            border-bottom: 2px solid $color-high-light;
          }
        }

        .content-block {

          .care-block {
            display: flex;
            flex-flow: wrap;
            margin-bottom: 20px;

            .care-each {
              width: fit-content;
              background: #fcfcfd;
              box-sizing: border-box;
              padding: 22px;
              height: 120px;
              border-radius: 8px;
              margin-right: 15px;
              margin-top: 20px;
              align-items: center;
              display: flex;

              .image {
                flex-shrink: 0;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                overflow: hidden;
                background: $color-gray-300;

                .img {
                  width: 55px;
                  height: 55px;
                }
              }

              .word {
                margin-left: 10px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .each-name {
                  color: #4c4c4c;
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 1;
                  cursor: pointer;
                }

                .each-name:hover {
                  color: $color-high-light;
                }

                .each-introduce {
                  margin-top: 11px;
                  line-height: 18px;
                  font-size: 12px;
                  color: #888;
                  font-weight: 400;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  max-width: 142px;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }

          .leave-block {
            .leave {
              display: flex;
              align-items: center;
              height: 50px;
              border-bottom: 1px solid #e7e7eb;

              .toLeave {
                cursor: pointer;
                outline: none;
                border: none;
                width: 68px;
                height: 30px;
                background: $color-high-light;
                text-align: center;
                line-height: 33px;
                color: #fff;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                justify-content: center;
                display: flex;
                border-radius: 5px;

                .icon-style {
                  height: 100%;
                }
              }

              .toLeave:active {
                transform: scale(.9);
              }
            }
          }

          .content-no-date {
            display: flex;
            height: 150px;
            align-items: center;
            justify-content: center;
            color: $color-gray-600;

            .icon-style {
              font-size: 25px;
              margin: 0 10px;
            }

            .no-word-style {
              font-weight: 500;
            }
          }


          .content-each {
            display: flex;
            padding: 25px 0;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid hsla(0, 0%, 91.4%, .6);
            cursor: pointer;

            .content-detail {
              display: flex;
              width: 500px;
              align-items: stretch;
              height: 75px;

              .content-image {
                width: 75px;
                height: 75px;
                overflow: hidden;
                position: relative;

                .image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 5px;
                }
              }

              .content-word {
                margin-left: 15px;
                width: 410px;
                height: 75px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content-title {
                  color: #4c4c4c;
                  font-size: 18px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  word-break: break-all;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  width: 100%;
                  line-height: 21px;
                  font-weight: 400;
                }

                .content-date {
                  width: 100%;
                  line-height: 21px;
                  font-weight: 400;
                  color: #888;
                  font-size: 14px;
                }
              }
            }

            .content-type-icon {
              display: inline-block;
              color: $color-gray-600;
            }

            .content-type {
              font-size: 13px;
              display: inline-block;
            }

            .content-bottom {
              color: #03a9f4;
              margin-right: 20px;
              min-width: 50px;

              .icon-delete-style {
                font-size: 14px;
                display: inline-block;
              }

              .content-delete {
                font-size: 14px;
                display: inline-block;
                font-weight: 400;
              }
            }


            .content-button:after {
              transform: scale(.9);
            }
          }

          .talk-each {
            display: flex;
            padding: 25px 0;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid hsla(0, 0%, 91.4%, .6);

            .content {
              padding: 0 15px;
              width: 640px;

              .talk-title {
                display: flex;
                align-items: center;
                height: 35px;
                overflow: hidden;
                user-select: none;

                .image {
                  width: 35px;
                  height: 35px;
                  border-radius: 100%;
                  background: #c0c4cc;
                  display: flex;
                  align-items: center;
                  color: #fff;
                  justify-content: center;
                  font-size: 18px;
                }

                .image-information {
                  margin: 0 8px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;

                  .name {
                    cursor: pointer;
                    max-width: 100%;
                    font-size: 14px;
                    color: #404040;
                    font-weight: 500;
                    line-height: 22px;
                  }

                  .date {
                    padding-top: 2px;
                    font-size: 11px;
                    color: #888;
                    font-weight: 400;
                    line-height: 1;
                  }

                  .name:hover {
                    color: $color-high-light
                  }
                }

                .leave-bottom {
                  display: flex;
                  cursor: pointer;

                  .leave-icon-style {
                    display: inline-block;
                    font-size: 14px;
                    color: $color-high-light;
                  }

                  .leave-delete {
                    display: inline-block;
                    color: $color-high-light;
                    font-size: 14px;
                  }
                }
              }

              .talk-content {
                word-break: break-all;
                padding-left: 45px;

                .word {
                  padding-top: 12px;
                  padding-right: 6px;
                  min-height: 24px;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  padding-bottom: 12px;
                }

                .images {
                  display: flex;
                  width: 100%;

                  .images-block {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    overflow: hidden;
                    margin-right: 20px;
                    border-radius: 5px;
                  }
                }

                .talk-bottom {
                  display: flex;
                  align-items: center;
                  color: #bbb;

                  .icon-style-like {
                    font-size: 16px;
                    cursor: pointer;
                  }

                  .icon-style-comment {
                    font-size: 20px;
                    cursor: pointer;
                  }

                  .icon-style-delete {
                    font-size: 15px;
                    cursor: pointer;
                    color: $color-high-light;
                    margin-right: 5px;
                  }

                  .delete-word-style {
                    cursor: pointer;
                    color: $color-high-light;
                    font-size: 13px;
                  }
                }
              }
            }

            .text-area-block {
              margin-top: 15px;
              opacity: 1;
              position: relative;
              border-top: 1px solid #e7ecf0;

              .talk-comment-title {
                display: flex;
                height: 46px;
                padding: 0 15px;
                align-items: center;
                box-sizing: border-box;
                border-bottom: 1px solid #e7ecf0;

                .title-each {
                  font-size: 14px;
                  font-weight: 500;
                  color: #353535;
                  margin-right: 25px;
                }
              }

              .talk-comment-block {
                padding: 20px 22px 20px 15px;

                .talk-comment-text {
                  border: 1px solid #e7ecf0;
                  border-radius: 3px;
                }


                .talk-comment-bottom-block {
                  display: flex;
                  align-items: center;
                  margin-top: 10px;

                  .talk-comment-toolbar {
                    width: fit-content;
                    z-index: 1;
                    flex-grow: 1;
                  }

                  .talk-comment-send-button {
                    cursor: pointer;
                    outline: none;
                    border: none;
                    width: 81px;
                    height: 33px;
                    background: #409eff;
                    text-align: center;
                    line-height: 33px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 400;
                    border-radius: 3px;
                  }

                  .talk-comment-send-button:active {
                    transform: scale(.9);
                  }
                }

                .talk-comment-content-null {
                  padding-top: 50px;
                  min-height: 300px;
                  background: #fff;
                  flex-direction: column;
                  align-items: center;
                  display: flex;

                  .talk-comment-content-null-icon {
                    color: #b2b2b2;
                    font-size: 35px;
                  }

                  .talk-comment-content-null-word {
                    color: #b2b2b2;
                    font-size: 15px;
                    line-height: 20px;
                    font-weight: 400;
                  }
                }

                .talk-comment-content-block {
                  .talk-repeat-area {
                    padding: 10px 0;
                    border-bottom: 1px solid rgba(231, 236, 240, .6);
                    box-sizing: border-box;


                    .talk-comment-image-block {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      padding: 15px 15px 15px 0;

                      .talk-comment-image {
                        flex-shrink: 0;
                        display: flex;
                        width: 34px;
                        background: #c0c4cc;
                        height: 34px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        overflow: hidden;
                      }

                      .talk-comment-author {
                        max-width: 520px;
                        margin-left: 11px;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 100%;
                        color: #404040;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                      }
                    }

                    .talk-comment-area {
                      padding-top: 12px;
                      padding-left: 45px;

                      .talk-comment-word {
                        font-size: 14px;
                        color: #4c4c4c;
                        font-weight: 400;
                        line-height: 20px;
                        word-break: break-all;
                      }

                      .comment-operate {
                        margin-top: 15px;
                        padding-bottom: 12px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .comment-date {
                          color: #b2b2b2;
                          font-size: 14px;
                          font-weight: 400;
                        }

                        .delete-style {
                          font-size: 12px;
                          color: #888;
                          display: flex;
                          align-items: center;
                          cursor: pointer;

                          .word-delete {
                            margin-left: 5px;
                          }
                        }

                        .delete-style:hover {
                          color: $color-high-light;
                        }
                      }
                    }
                  }

                  .talk-repeat-area:nth-last-child(1) {
                    border-bottom: unset;
                  }
                }
              }
            }
          }
        }

        .rocket {
          position: fixed;
          background-color: #fff;
          width: 40px;
          height: 40px;
          bottom: 50px;
          border-radius: 50%;
          margin-right: 20px;
          color: #409eff;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          display: flex;
          box-shadow: 0 0 6px rgb(0 0 0 / 12%);
          cursor: pointer;
          z-index: 5;
        }

        .rocket:hover {
          background-color: #f2f6fc;
        }

        .rocket:active {
          transform: scale(0.9);
        }
      }

    }
  }

  .container.in {
    -webkit-transition: all 5.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 1;
  }
}